.main {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.payup-logo {
    height: 100px;
}

.login-button {
    display: flex;
    align-items: center;
    font-size: 18px;
    background-color: #3D95CE;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    text-decoration: none;
}

.login-button:hover {
    opacity: .5;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
    
.content {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #3D95CE;
    height: 600px;
}
    
.content-image {
    margin-top: 25%;
    width: 75%;
    height: 50%;
}
    
.image {
    width: 30%;
}

.signup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    font-size: 50px;
    letter-spacing: -.75px;
    font-weight: 300;
    color: #fff;
}

.signup-button {
    width: 300px;
    border-radius: 4px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    color: #3D95CE;
    background-color: white;
}

.signup-button:hover {
    opacity: .5;
    cursor: pointer;
}

.icons-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.fab {
    font-size: 30px;
    color: #666;
    margin: 30px;
    padding-right: 10px;
}

.fab:hover {
    cursor: pointer;
    transition: 0.5s;
    text-shadow: 1px 1px 10px #3D95CE;
}