.main {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #ededed;
    line-height: 40px;
    padding: 19px 0;
    position: relative;
    width: 100%;
    z-index: 1;
}

.header-container {
    width: 900px;
    justify-content: space-between;
    display: flex;
}

/* .payup-logo {
    height: 100px;
} */

.header-logo {
    float: left;
    width: 100px;
    height: 40px;
}

.header-logo a {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: Helvetica;
    color: #3d95ce;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: none;
}

.login-button {
    display: flex;
    align-items: center;
    font-size: 18px;
    background-color: #3D95CE;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    text-decoration: none;
}

.login-button:hover {
    opacity: .5;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.login-div {
    color: #3d95ce;
    cursor: pointer;
    font-weight: 500;
    padding-right: 28px;
}

.login-div:hover {
    color: #3d94ce8c;
}
    
.content {
    display: flex;
    padding: 25px 2rem 0 2rem;
    justify-content: center;
    box-sizing: border-box;
    /* text-align: center; */
    /* background-color: #3D95CE; */
    height: 675px;
    width: 100%;
}

.content-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* width: 100%; */
}
    
.content-image-container {
    width: 556px;
    height: 650px;
}

.content-image {
    width: 556px;
    height: 650px;
}
    
.image {
    width: 30%;
}

.signup-a {
    margin: 1rem;
    padding: 1rem;
}

.signup {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 450px;
    font-size: 50px;
    font-weight: lighter;
}

.signup-button {
    width: 300px;
    border-radius: 4px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    background-color: #3D95CE;
    color: white;
    font-weight: bold;
}

.signup-button:hover {
    opacity: .5;
    cursor: pointer;
}

.fab {
    font-size: 30px;
    color: #666;
    margin: 30px;
    padding-right: 10px;
}

.fab:hover {
    cursor: pointer;
    transition: 0.5s;
    text-shadow: 1px 1px 10px #3D95CE;
}

.welcome-message {
    color: black;
    margin: 1rem;
    padding: 1rem;
    font-family: "HelveticaNeue-Light"
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.icons-container {
    width: 900px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.icons {
    width: 4rem;
}