* {
    box-sizing: border-box;
}

.transaction-container {
    padding: 2rem 2rem 0 2rem;
    width: 60%;
    /* width: 30vw; */
    /* margin: 0 auto; */
}

.transaction{
    border: lightgray solid 1px;
    position: relative;
    min-width: 500px;
    background-color: white;
    margin: 0 auto;
    display: flex;
}

.transaction-div{
    display: flex;
    width: 100%;
}

.transaction-left {
    display: flex;
    width: 20%;
    padding: 0.6rem 1rem 0.6rem 1rem;
}

.transaction-middle {
    width: 60%;
}

.transaction-right {
    display: flex;
    width: 20%;
    justify-content: space-around;
}

.transaction-info{
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
}

.transaction-users{
    font-weight: bold;
    color: rgb(100, 100, 100);
}

.transaction-time {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: #6A757F  ;
}

.transaction-amount{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.transaction-message{
    /* margin-top: 20px; */
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.top-level-container{
    padding: 0 0.1rem 0 0.1rem;
    overflow: hidden;
    max-height: 10000px;
    height: auto;
    transition: all 300ms ease-in-out;
    background-color: white;
    width: auto;
    margin: auto auto;
}

.hide-users {
    transition: all 300ms ease-in-out;
    max-height: 0;
}

.usernames-container{
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    padding: 4%;
}

.usernames{
    justify-content: space-evenly;
    display: flex;
    width: 100%;
    height: 90%;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

.friends-image-container {
    width: 40%;
    padding-left: 0.7rem;
    margin: auto auto;
}

.add-photo {
    color: #057FC6;
    position: relative;
    padding: 0.1rem;
}

.friends-image{
    display: flex;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.usernames-function{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto auto;
}

.name{
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    font-weight: bold;
    color: rgb(100, 100, 100)
}

.pay{
    /* padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px; */
}

.pay-button{
    background: #3d95ce;
    color: white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.pay-button:hover{
    font-weight: bold;
}

.request{
    /* padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px; */
}

.request-button{
    background-color: lightskyblue;
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.request-button:hover{
    background-color: blue;
    color: white;
    font-weight: bold;
}

.show-user-button{
    display: flex;
    float: right;
    cursor: pointer;
}

.collapsible{
    /* float: right; */
    background-color: #3D95CE;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.5rem;
}

.collapsible:hover{
    background-color: #ededed;
    font-weight: bold;
    color: #3D95CE;
}

.homepage-main-left {
    width: 70%;
}

.homepage-main-right{
    width: 35%;
    /* width: 19vw; */
    height: auto;
    padding: 2rem 2rem 0 2rem;
}

.current-user-container {
    display: flex;
    padding: 0.3rem;
    background: white;
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #a6a6a6;
}

.current-user-name{
    font-weight: bold;
    color: #057FC6;
    text-decoration: none;
    padding: 0.7rem;
    align-items: center;
    text-overflow: ellipsis;
}

.homepage{
    background-color: #EEF0F4;
}

.homepage .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3d95ce;
    border-bottom: 1px solid #ededed;
    line-height: 40px;
    padding: 19px 0;
    position: relative;
    width: 100%;
    z-index: 1;
}

.homepage .header-container {
    width: 900px;
    /* justify-content: space-between; */
    display: flex;  
}

.homepage .header-logo {
    float: left;
    width: 100px;
    height: 40px;
}

.homepage .header-logo-a {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: Helvetica;
    color: #fff;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: none;
}

.logout-button{
    color: #3D95CE;
    background-color: #fff;
    font-weight: bold;
    /* padding: 10px; */
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
    height: 100%;
}

.logout-button:hover{
    background-color: #ededed;
    color: #3D95CE;
    border: 1px solid #fff;
}

.homepage-main {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    /* padding: 19px 0; */
    position: relative;
    width: 100%;
    z-index: 1;
}

.homepage-main-container {
    min-width: 900px;
    /* justify-content: space-between; */
    display: flex;  
}

.balance-container {
    background-color: white;
    padding: 10px;
}

.current-user-balance{
    font-size: 16px;
    font-weight: bold;
}

.user-photo-container {
    width: 50%;
    margin: auto auto;
}

.user-photo {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0.5rem;
    padding: 0.1rem;
}

.current-user-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: auto auto;
}

.photo-label {
    display: flex;
    position: relative;
}

.photo-file {
    top: 0;
    position: absolute;
    opacity: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.header-left {
    width: 50%;
    display: flex;
}

.header-right {
    justify-content: flex-end;
    display: flex;
    width: 50%;
}

.profile-link-container {
    padding-right: 5rem;
    /* display: flex; */
    width: 10%;
}

.logout-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* width: 35%; */
}

.profile-link {
    color: #fff;
    font-weight: 500;
}

.homepage-link {
    color: #fff;
    font-weight: 500;
}

.homepage-footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.homepage-icons-wrapper {
    border-top: 2px solid #ccc;
    width: 100%;
    background-color: white;
}

.homepage-icons-container {
    width: 900px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin: 0 auto;
}

.homepage-search-container {
    display: flex;
    padding: 0.3rem 0rem 0.3rem 0;
    width: 59%;
    margin: auto auto;
}

.homepage-search {
    padding: 0.3rem 1rem 0.3rem 0.3rem;
    /* background: #fff url(https://d1v6x81qdeozhc.cloudfront.net/static/assets/search-c8e6cda….png) no-repeat right 50%; */
    font-size: 13px;
    width: 100%;
    border: 1px solid #2169A1;
    border-bottom: 1px solid #2169A1;
}

.payer-photo {
    display: flex;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.homepage-container {
    /* padding: 0 0.5rem 0 0.5rem; */
}

.add-photo-container {
    width: auto;
    height: auto;
    margin: auto auto;
}

.current-user {
    margin: auto auto;
}

.trans-error-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trans-error {
    padding-top: 1rem;
    color: red;
    font-weight: bold;
    width: 900px;
    padding-left: 2rem;
}