.payup-logo{
    left: 50%;
}

.balance{
    color: green;
}


.logout-button{
    background-color: lightgreen;
    font-weight: bold;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 12px;
    right: 10%;
    top: 5%;
    position: absolute;
    flex-direction: row;
    margin-right: 80px;
}

.logout-button:hover{
    background-color: green;
    color: white;
}

.transaction{
    border: lightgray solid 1px;
    margin-right: 500px;
    margin-left: 300px;
}

.transaction-section{
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
}

.transaction-info{
    display: flex;
    justify-content: space-between;
}

.transaction-users{
    font-weight: bold;
    color: rgb(100, 100, 100);
}

.transaction-amount{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.transaction-message{
    margin-top: 20px;
    font-size: 26px;
}

.usernames-container{
    display: flex;
}

.usernames{
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 80px auto 80px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 20%;
    height: 100px;
    text-align: right;
    border: black solid 1px;
}

.usernames > div {
    padding: 3em;
    flex-direction: row;
}

.name{
    /* padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px; */
}

.pay{
    /* padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px; */
}

.pay-button{
    background-color: lightgreen;
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.pay-button:hover{
    background-color: green;
    color: white;
    font-weight: bold;
}

.request{
    /* padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px; */
}

.request-button{
    background-color: lightskyblue;
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.request-button:hover{
    background-color: blue;
    color: white;
    font-weight: bold;
}

.collapsible{
    float: right;
}

.collapsible:hover{
    background-color: green;
}

.usernames-info{
    /* display: none;
    overflow: hidden; */
}

.currentUser-info{
    border: gray 1px solid;
    width: 80%;
    margin: 0 auto;
}

.welcome{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}

.homepage{
    background-color: rgb(231, 231, 231);
}

.current-user-balance{
    padding: 10px;
    color: green;
    font-weight: bold;
}

.top-level-container{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    max-height: 10000px;
    height: auto;
    transition: all 300ms ease-in-out;
}

.hide-users {
    transition: all 300ms ease-in-out;
    max-height: 0;
}