.form {
    display: flex;
    justify-content: center;
    /* background-color: #3D95CE; */
    width: 100%;
}

/* form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
} */

.login-title, .signup-title {
    text-align: center;
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    margin: 28px 0;
}

.auth-form-input {
    background: none;
    border: 0;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 0;
    box-shadow: none;
    color: #262626;
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    min-width: 0;
    padding: 12px 8px 12px 4px;
    width: 100%;
}

.inputs {
    /* background-color: lightgray; */
    /* padding-left: 15px;
    outline: none;
    border-radius: 5px;
    background-color: rgb(236, 233, 233);
    padding: 10px;
    width: 20rem; */
}

.login-form, .signup-form {
    background: #f7f7f7;
    border-radius: 4px;
    border: 1px solid #ededed;
    padding: 28px;
    flex: 0 1 500px;
}

.payup-logo {
    margin-left: 200px;
}

.error-text {
    color: red;
    font-weight: bold;
}

.login-submit, .signup-submit {
    font-size: 15px;
    padding: 12px 20px;
    font-weight: 600;
    border-radius: 4px;
    line-height: 1.5;
    font-family: helvetica neue;
    box-sizing: border-box;
    background: #3d95ce;
    color: #fff;
    box-shadow: 0 1px 2px rgba(38,38,38,.15);
    border: none;
}

.signup-submit {
    display: flex;
    flex-direction: row-reverse;
}

.demo-button {
    font-size: 15px;
    padding: 12px 20px;
    font-weight: 600;
    border-radius: 4px;
    line-height: 1.5;
    font-family: helvetica neue;
    box-sizing: border-box;
    background: #3d95ce;
    color: #fff;
    box-shadow: 0 1px 2px rgba(38,38,38,.15);
    border: none;
    margin-right: 1rem;
}

.login-main .content-container, .signup-main .content-container {
    flex-direction: column;
    margin: none;
    width: 100%;
}

.login-username, .login-password, .signup-username, .signup-password {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: #7f7f7f;
    text-transform: uppercase;
    display: block;
    padding-left: 4px;
    margin-bottom: 1rem;
}

.login-buttons {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.message {
    margin: 0.5rem 0;
}

.message span {
    margin-right: 1rem;
}

.message a {
    text-decoration: none;
    color: #3d95ce;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.icons-container {
    width: 900px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.icons {
    width: 4rem;
}