.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
  
.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.submit-transaction {
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  background-color: #3D95CE;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 20px;
}

.submit-transaction:hover {
  background-color: #ededed;
  font-weight: bold;
  color: #3D95CE;
}

.transaction-header{
  color: #ededed;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.amount-paid{
  font-size: 20px;
  /* color: #3D95CE; */
  font-weight: bold;
  width: 50%;
}

.recipient{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-variant-ligatures: historical-ligatures;
  font-size: 20px;
  width: 50%;
  /* color: #3D95CE; */
}

.payment-message{
  font-size: 20px;
  width: 100%;
  /* color: #3D95CE; */
  font-weight: bold;
}

.request-header{
  color: rgb(231, 231, 231);
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.amount-requested{
  font-size: 20px;
}

.requestee{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-variant-ligatures: historical-ligatures;
  font-size: 20px;
}

.request-message{
  font-size: 20px;
  width: 516px;
}